body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.lora-font {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 33.333% 33.3333% 33.333%;
    grid-template-rows: 33.333% 33.333% 33.333%;
    grid-template-areas: "hem hem hem" "citat citat citat" "vader vader vader";
    height: 300vh;
    position: relative;
}



#hem{
    position: relative;
    width: 100%;
    height: 100vh;
    grid-area: hem;
}

#morgonbild {
    width: 100%;
    height: 100vh;

    object-fit: cover;
    object-position: center;
}

#godmorgon {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: white;
    text-align: center;
    z-index: 1;
    margin: 0;
    padding: 0.5rem;
    text-shadow:
  0 2px 4px rgba(0,0,0,0.7),
  0 6px 18px rgba(0,0,0,0.5);
    
    font-size: 4rem;
    font-family: 'Lora', serif;
}

#datumtid{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
    margin: 0;
    padding: 0.5rem;
    
    text-shadow:
  0 2px 4px rgba(0,0,0,0.7),
  0 6px 18px rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    font-size: 3rem;
}



#citat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
    font-size: 2rem;
    text-align: center;

    padding: 20px;
    grid-area: citat;
    background: linear-gradient(180deg,
    #4a7a8a 0%,
    #4a7a6a 40%,
    #4a6642 100%);
}

#citat-header {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 500;
}

#citat-text {
    max-width: 1000px;
    text-align: center;
}

#författare {
    max-width: 1000px;
    text-align: center;
}



#vader_container {
    grid-area: vader;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: 13% 29% 29% 29%;
    grid-template-areas: "vader-header vader-header vader-header" "vader1 vader2 vader3" "vader1 vader4 vader5" "vader1 vader6 vader7";
    height: 100vh;
    background: linear-gradient(180deg,
    #4a6642 0%,
    #4a7a6a 40%,
    #4a7a8a 100%);
}

#vader-header {
    grid-area: vader-header;
    font-size: 2rem;
}

#vader1{
    grid-area: vader1;

    position: relative;
    border: 1px solid white;
    font-size: 1.5rem;
}

#vader2{
    grid-area: vader2;

    position: relative;
    border: 1px solid white;
}

#vader3{
    grid-area: vader3;

    position: relative;
    border: 1px solid white;

}
#vader4{
    grid-area: vader4;

    position: relative;
    border: 1px solid white;
   
}

#vader5{
    grid-area: vader5;

    position: relative;
    border: 1px solid white;
}

#vader6{
    grid-area: vader6;

    position: relative;
    border: 1px solid white;

}

#vader7{
    grid-area: vader7;

    position: relative;
    border: 1px solid white;
   
}



@media (max-width: 900px) {
    #vader1 {
        font-size: 1rem;
    }
    #vader2 {
        font-size: 0.9rem;
    }
    #vader3 {
        font-size: 0.9rem;
    }
    #vader4 {
        font-size: 0.9rem;
    }
    #vader5 {
        font-size: 0.9rem;
    }
    #vader6 {
        font-size: 0.9rem;
    }
    #vader7 {
        font-size: 0.9rem;
    }
}

@media (max-width: 600px) {
    #citat {
        font-size: 1.5rem;
        padding: 10px;
    }

    #vader_container {
    grid-area: vader;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 22.5% 22.5% 22.5% 22.5%;
    grid-template-areas: 
    "vader-header vader-header" 
    "vader1 vader2" 
    "vader1 vader3" 
    "vader4 vader5"
    "vader6 vader7";
    height: 150vh;
}
}